<h1>Edit Category</h1>

<%= form_with(model: @admin_category, url: admin_category_path(@admin_category), method: :patch) do |form| %>
  <%= form.label :name %>
  <%= form.text_field :name %>

  <%= form.label :description %>
  <%= form.text_area :description %>

  <%= form.submit "Update Category" %>
<% end %>
